.content{
  max-width: 70%;
  .name{
    font-size: 5rem;
  }
  span{
    color: #255a75;
  }
}
.skill {
  width: 50px;
  height: 10px;
  background-color: #255a75;
}
.none{
  width: 50px;
  height: 10px;
  background-color: rgb(131, 169, 189);
}
