<div class=" d-flex justify-content-center align-items-center h-100">
  <div class="row content">
    <div class="col-12 mb-4">
      <h1 class="fade-up"><span>Skills</span></h1>
      <h5 class="fade-right">(Baseado em minha auto avaliação)</h5>
    </div>
    <div class="col-12 mt-2">
      <h2 class="fade-right"><span>Python </span></h2>
      <div class="d-flex fade-left">
        <div class="skill" *ngFor="let x of [0,1,2,3,4,5,6]" > </div>
        <div class="none" *ngFor="let x of [7,8,9,10]" ></div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h2 class="fade-right"><span>SAM </span></h2>
      <div class="d-flex fade-left">
        <div class="skill" *ngFor="let x of [0,1,2,3,4,5,6,7]" > </div>
        <div class="none" *ngFor="let x of [8,9,10]" ></div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h2 class="fade-right"><span>Angular </span></h2>
      <div class="d-flex fade-left">
        <div class="skill" *ngFor="let x of [0,1,2,3,4,5]" > </div>
        <div class="none" *ngFor="let x of [6,7,8,9,10]" ></div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h2 class="fade-right"><span>Git </span></h2>
      <div class="d-flex fade-left">
        <div class="skill" *ngFor="let x of [0,1,2,3,4]" > </div>
        <div class="none" *ngFor="let x of [5,6,7,8,9,10]" ></div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h2 class="fade-right"><span>Jira </span></h2>
      <div class="d-flex fade-left">
        <div class="skill" *ngFor="let x of [0,1]" > </div>
        <div class="none" *ngFor="let x of [2,3,4,5,6,7,8,9,10]" ></div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h2 class="fade-right"><span>.Net </span></h2>
      <div class="d-flex fade-left">
        <div class="skill" *ngFor="let x of [0,1,2]" > </div>
        <div class="none" *ngFor="let x of [3,4,5,6,7,8,9,10]" ></div>
      </div>
    </div>
  </div>
</div>
