<div class=" d-flex justify-content-center align-items-center h-100">
  <div class="row content">
    <div class="col-12">
      <h4 class="fade-up">Objetivo</h4>
      <h1 class="name fade-right" ><span>Desenvolvedor Backend Serverless</span></h1>
      <p class="fade-down">Estou em busca de uma oportunidade como desenvolvedor Backend serverless,
        com especialização em Cloud. Possuo dois anos de experiência específica em
        AWS SAM, consolidando meu conhecimento na área.</p>
    </div>
    <div class="col-12">
      <h5 class="fade-left">Objetivo secundario </h5>
      <h1 class="name fade-right"><span>Desenvolvedor Python</span></h1>
      <p class="fade-down">Tenho qualificações para desenvolver em Python, com uma breve experiência em Django.
        Tenho o costume de desenvolver micro serviços utilizando a linguagem Python.</p>
    </div>
  </div>
</div>


