<div class=" d-flex justify-content-center align-items-center h-100">
  <div class="row content">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div (click)="navigate('www.evocondo.com.br')" class="port-block evocondo fade-left"></div>
      <div (click)="navigate('www.evocities.com.br')" class="port-block evocities fade-up"></div>
      <div (click)="navigate('mateusdtarouco.web.app')" class="port-block site fade-down"></div>
      <div (click)="navigate('')" class="port-block fade-right"></div>
    </div>
  </div>
</div>


