<div class=" d-flex justify-content-center align-items-center h-100">
  <div class="row content">
    <div class="col-12 mt-2">
      <h4 class="fade-up">Experiência</h4>
      <h1 class="fade-right"><span>Evo One</span></h1>
      <h5 class="fade-left">Desenvolvedor Full Stack Pleno</h5>
      <p class="fade-left"><u>Junho 2021 - Atualmente</u></p>
      <p class="fade-left">Na Evo One, venho evoluindo profissionalmente como desenvolvedor Full Stack desde junho de 2021. No âmbito do back end, aprimorei minhas habilidades utilizando Python em conjunto com tecnologias Serverless, adotando o Serverless Application Model (SAM). No Front End, concentrei-me no desenvolvimento com Angular.
        <br>
        Durante esse período, explorei e aprofundei meus conhecimentos em Cloud Computing, com ênfase na Amazon Web Services (AWS). Além de minhas responsabilidades técnicas, assumi diversas funções que contribuíram para o meu crescimento profissional, consolidando um perfil de liderança dentro da equipe.
      </p>
    </div>
    <div class="col-12 mt-2">
      <h1 class="fade-right"><span>SulWork</span></h1>
      <h5 class="fade-left">Estágio em Suporte a Controladoria</h5>
      <p class="fade-left"><u>Outubro 2020 - Junho 2021</u></p>
      <p class="fade-left"> Fui responsável pela elaboração e aprimoramento de relatórios personalizados, utilizando tanto as ferramentas internas da empresa quanto consultas em SQL Oracle. Além disso, desempenhei um papel no suporte ao cliente, assegurando que suas necessidades fossem atendidas de maneira eficiente e proporcionando uma experiência positiva.      </p>
    </div>
  </div>
</div>
