<div class=" d-flex justify-content-center align-items-center h-100">
  <div class="row content">
    <div class="col-12">
      <h1 class="name"><span>Análise e Desenvolvimento de Sistemas</span></h1>
      <h5>R. Attílio Bilibio, 251 - Jardim Carvalho, Porto Alegre - RS, 91530-008 / <span>(51) 9 8915-1964</span></h5>
      <p>Em dezembro de 2022 terminei minha graduação em Análise e Desenvolvimento de Sistemas na Anhanguera o curso busca formar
        um profissional cheio de oportunidades. com disciplinas que envolvem uso de softwares e atividades práticas que preparam
        o aluno para a vivência de mercado. Projetar, analisar, documentar e construir sistemas são algumas das funções ensinadas no curso.</p>
    </div>
  </div>
</div>


