<div class=" d-flex justify-content-center align-items-center h-100">
  <div class="row content">
    <div class="col-12">
      <h4 class="fade-up">Formação</h4>
      <h1 class="name fade-right"><span>Análise e Desenvolvimento de Sistemas</span></h1>
      <h5 class="fade-left">R. Attílio Bilibio, 251 - Jardim Carvalho, Porto Alegre - RS, 91530-008 / <span>(51) 9 8915-1964</span></h5>
      <p class="fade-left">Em dezembro de 2022 terminei minha graduação em Análise e Desenvolvimento de Sistemas na Anhanguera o curso
        busca formar
        um profissional cheio de oportunidades. com disciplinas que envolvem uso de softwares e atividades práticas que
        preparam
        o aluno para a vivência de mercado. Projetar, analisar, documentar e construir sistemas são algumas das funções
        ensinadas no curso.</p>
    </div>
    <div class="col-12 fade-left">
      <h4>Cursos complementares</h4>
      <h5 class="name"><span>- Designer Gráfico – Informatize (42 H)</span></h5>
      <h5 class="name"><span>- C e C++, Fundamentos para logica – Udemy (2,5H)</span></h5>
      <h5 class="name"><span>- Java 2020, Programação orientada a Objetos + Projetos – Udemy (49,5H)</span></h5>
      <h5 class="name"><span>- PHP 7 do Básico ao Intermediário – Udemy(9,5H)</span></h5>
      <h5 class="name"><span>- Curso Desenvolvedor Web Completo - Udemy (47 H)</span></h5>
      <h5 class="name"><span>- Introdução ao Git e GitHub - Digital Inovation One (5 H)</span></h5>
      <h5 class="name"><span>- Programação para internet com JavaScript - Digital Inovation One (5 H)</span></h5>
      <h5 class="name"><span>- Angular 9 Essencial - COD3R (6 H)</span></h5>
    </div>
  </div>
</div>


