* {
  font-family: Bahnschrift , Calibri, Tahoma, sans-serif;
  background: aliceblue;
}
.page{
  display: flex;
  .nav{
    max-width: 20%;
    background: #396a85;
    border-right: #255a75 solid 10px;
  }
  .navigation{
    width:80%;
  }

}
