<div class="row ">
  <div class="col-12 profile d-flex justify-content-center">
    <div class="img">
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <ul>
      <li><a href="#about-me">sobre mim</a> </li>
      <li><a href="#experience">experiência</a></li>
      <li><a href="">educação</a></li>
      <li><a href="">skills</a></li>
      <li><a href="">objetivos</a></li>
      <li><a href="">portifólio</a></li>
    </ul>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <a href="https://www.instagram.com/taroucomateus/" target="_blank"><mat-icon class="icon" svgIcon="instagram"></mat-icon></a>
    <a href="mailto:mateustarouco@gmail.com" target="_blank"><mat-icon class="icon" svgIcon="mail"></mat-icon></a>
    <a href="https://github.com/mateustarouco/" target="_blank"><mat-icon class="icon" svgIcon="github"></mat-icon></a>
    <a href="https://www.linkedin.com/in/mateus-duarte-tarouco-566973162/" target="_blank"><mat-icon class="icon" svgIcon="linkedin"></mat-icon></a>

  </div>
</div>
