<div class=" d-flex justify-content-center align-items-center h-100">
  <div class="row content">
    <div class="col-12">
      <h1 class="name fade-right">Mateus <span>Duarte Tarouco</span></h1>
      <h5 class="fade-left">R. Attílio Bilibio, 251 - Jardim Carvalho, Porto Alegre - RS, 91530-008 / <span>(51) 9 8915-1964</span></h5>
      <p class="fade-up">Meu nome é Mateus Duarte Tarouco, formado em Análise e Desenvolvimento de Sistemas pela Anhanguera.
        Sou um Profissional focado e proativo, sempre pensando em melhorar meu desempenho e o da equipe.
        Busco uma empresa onde eu possa crescer profissionalmente e contribuir para o seu crescimento.</p>
    </div>
  </div>
</div>
